.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
}

.creation {
  display: flex;
  flex-direction: column;
}

.activePoll {
  list-style-type: none;
  border: 2px solid black
}

.allPolls {
  list-style: none;
}