/* Normalize / Setup ////////////////////////////////////////*/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* //////////////////////////////////////// General Styles //////////////////////////////////////// */

html {
  font-size: 125%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240, 240, 240);
}

.App {
  text-align: center;
  background-color: rgba(55, 226, 213, 0.6);
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.tightWrapper {
  max-width: 1000px;
  width: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.5rem;
  margin-top: 50px;
  background-color: #F65ABB;
  padding: 15px;
}

h3 {
  margin: 0;
  padding: 30px;
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: #FFE064;
}

.regButton {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  background-color: #590696;
  margin: 10px auto;
  box-shadow: 2px 2px 2px lightgray;
}

.regButton a {
  display: inline-block;
  padding: 15px;
}

.pun {
  font-weight: bolder;
  font-size: 0.8rem;
  margin-top: 0;
}

span {
  font-style: italic;
}

/* //////////////////////////////////////// Header.js styles //////////////////////////////////////// */

header {
  position: relative;
  background-image: url(./assets/bitmap4.png);
  background-size: contain;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 25px;
  font-family: 'Orbitron', sans-serif;
}

header .pun {
  background-color: rgb(255, 255, 255, 0.5);
}

/* //////////////////////////////////////// Creation.js styles //////////////////////////////////////// */

.creation {
  background-color: white;
  text-align: left;
}

.pollInstructions {
  margin: 0 25px 30px 25px;
  padding-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

label {
  margin-bottom: 15px;
}

input {
  line-height: 2;
}

button[type="submit"],
.seePoll {
  color: white;
  padding: 15px;
  background-color: #A50969;
  margin-bottom: 40px;
  margin-left: 25px;
}

.seePoll {
  display: none;
  border: 3px solid #FBCB0A;
  box-shadow: 2px 2px 2px lightgray;
}

/* NOTE .seeYours must remain AFTER .seePoll in cascade in order to properly to display the seePoll button after form submission */
.seeYours {
  display: inline-block;
}

/* //////////////////////////////////////// DisplayNewPoll.js styles ////////////////////////////////////////*/

.navButtons {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

h2.votingInstruction {
  background-color: rgb(91, 170, 255);
}

.resultsCard {
  border: 5px solid rgb(91, 170, 255);
  margin-top: 30px;
  background-color: white;
}

.userQ {
    margin-top: 0;
    background-color: #b0fb7a;
}

.results {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 4rem;
}

.results div {
  max-width: calc(50% - 60px);
  min-width: 200px;
  width: 100%;
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results .number {
  border: 1px solid black;
}

.votingBtn {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: rgb(91, 170, 255, 30%);
  width: 100%;
  min-height: 200px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 1px lightgrey;
  cursor: pointer;
}

/* //////////////////////////////////////// AllPolls.js ////////////////////////////////////////*/

.allPolls {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}

.activePoll {
  border: 5px solid #F65ABB;
  margin: 50px 0;
}

.activePollParent {
  display: flex;
  align-items:flex-end;
  background-color: white;
}

.res {
  width: 50%;
}

.res p {
  font-size: 1.6rem;
  text-transform: uppercase;
  min-height: 100px;
  padding: 15px;
}

p.number {
  font-family: 'Orbitron', sans-serif;
  font-size: 6rem;
  padding: 30px;
  margin: 0;
}

.res p.number {
  border-top: 1px solid #F65ABB;
}

.resA {
  border-right: 1px solid #F65ABB;
}


/* ////////////////////////////////////////  SeeAllPollsButton.js styles //////////////////////////////////////// */

.seeAll {
  margin-top: 20px;
}

/* ////////////////////////////////////////  MakeAPollButton.js styles ////////////////////////////////////////*/

.makePoll {
  position: static;
  margin-top: 20px;
}

/* //////////////////////////////////////// Footer.js styles //////////////////////////////////////// */

footer {
  margin-top: 200px;
}

.byline {
  margin-bottom: 0;
  padding-bottom: 30px;
}